{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Snox | The Photo House{% endblock %}

{% block content %}
    <div class="view-wrapper">
    <!-- Container -->
    <div id="page-placeholder" class="container">
        <div class="page-placeholder">
            <div class="placeholder-content">
                <img class="light-image" src="{% static 'img/comingsoon.svg' %}" alt="" />
                <img class="dark-image" src="{% static 'img/comingsoon.svg' %}" alt="" />
                <h3>Coming Soon</h3>
                <p class="is-large">
                    This page is currently under deveopment.
                    <br> Stay tuned.
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
