{% extends 'includes/base.html' %}

{% block title %}Snox | Dashboard{% endblock %}

{% block content %}
    <div class="groups-grid">

        <h3 class="title is-4">Gallery List</h3>
        <div class="dashboard-toolbar">
            <h3 class="title is-3">{{ event.title }}</h3>
            <div class="actions">
                <div class="buttons">
                    {% if event %}
                        <a class="button is-solid primary-button is-raised has-icon" href="{% url 'create_gallery' event_id=event.id %}">
                            <i data-feather="plus"></i>
                            <span>Create New Gallery</span>
                        </a>

                        <a class="button is-solid primary-button is-raised has-icon" href="{% url 'list_face_registrations' event_id=event.id %}">
                            <i data-feather="eye"></i>
                            <span>Whatsapp Registrations</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="columns is-multiline mt-4">
            {% for gallery in galleries %}
                <div class="column is-4">
                    <article class="group-box">
                        <a href="{% url 'list_gallery_images' gallery_id=gallery.pk %}">
                            <div class="box-info">
                                <h3 class="box-title">{{ gallery.name }}</h3>
                            </div>
                        </a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}