{% extends 'includes/base.html' %}

{% block title %}Snox | Dashboard{% endblock %}

{% block content %}

    <div class="groups-grid">
        <h3 class="title is-4">Gallery | {{ gallery.name }}</h3>
        <div class="dashboard-toolbar">
            <h2 class="title is-3">{{ gallery.event.title }}</h2>
            <div class="actions">
                <div class="buttons">
                    <a class="button is-solid primary-button is-raised has-icon" href="{% url 'upload_gallery_image' gallery_id=gallery.pk %}">
                        <i data-feather=" plus"></i>
                        <span>Upload Images</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="columns is-multiline mt-4">
            {% for image in gallery_images %}
                <div class="column is-3">
                    <div class="card post-feed-item ">
                        <div class="card-image">
                            <figure class="image is-1by1  custom-cover">
                                <a href="{{ image.image.url }}" data-demo-href="{{ image.image.url }}" data-fancybox data-caption="">
                                    <img src="{% if image.image_thumbnail %}{{ image.image_thumbnail.url }}{% else %}{{ image.image.url }}{% endif %}" alt="{{ image.image.name }}" loading="lazy"/>
                                </a>

                            </figure>
                        </div>
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>
{% endblock %}